<!doctype html>

<html>
<head>
    <title>BarCamp</title>

  <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="global.css">
  <link rel="stylesheet" href="normalize.css">
</head>

<body>
<%= yield %>
</body>

</html>